.Carousel {
  min-height: 100vh;
  &--home {
    background: transparent url('./../images/bg-sliders.jpg') 0 0 no-repeat;
    background-size: cover;
    .carousel-inner, .carousel-item {
      min-height: 100vh;
    }
    .carousel-item {
      align-items: flex-end;
      display: flex;
      padding: 0 5%;
    }
    .carousel-caption {
      bottom: auto;
      left: 50%;
      padding: 0;
      right: auto;
      text-align: left;
      top: 40%;
      width: 30%;
      h5 {
        color: $darkColorAlt;
        font-family: $pantonExtraLight;
        font-size: 4rem;
        line-height: 1.1;
        margin-bottom: 1.5rem;
        &::after {
          background-color: $secondColor;
          content: "";
          display: block;
          height: 3px;
          width: 25%;
        }
      }
      p {
        color: $darkColorAlt;
        font-family: $pantonExtraLight;
        font-size: 1.5rem;
        line-height: 1.2;
      }
    }
    .Carousel__down {
      bottom: 0;
      position: absolute;
      text-align: center;
      width: 100%;
      .Button {
        background-color: transparent;
        color: $firstColor;
        font-size: 3rem;
        padding: 0;
      }
    }
  }
}
