@font-face {
  font-family: 'Panton-Regular';
  src:  url('./../fonts/Panton-Regular.eot?uwodiy');
  src:  url('./../fonts/Panton-Regular.eot?uwodiy#iefix') format('embedded-opentype'),
    url('./../fonts/Panton-Regular.ttf?uwodiy') format('truetype'),
    url('./../fonts/Panton-Regular.woff?uwodiy') format('woff'),
    url("./../fonts/Panton-Regular.woff2") format("woff2"),
    url('./../fonts/Panton-Regular.svg?uwodiy#Panton-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton-Bold';
  src:  url('./../fonts/Panton-Bold.eot?uwodiy');
  src:  url('./../fonts/Panton-Bold.eot?uwodiy#iefix') format('embedded-opentype'),
    url('./../fonts/Panton-Bold.ttf?uwodiy') format('truetype'),
    url('./../fonts/Panton-Bold.woff?uwodiy') format('woff'),
    url("./../fonts/Panton-Bold.woff2") format("woff2"),
    url('./../fonts/Panton-Bold.svg?uwodiy#Panton-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Panton-ExtraLight';
  src:  url('./../fonts/Panton-ExtraLight.eot?uwodiy');
  src:  url('./../fonts/Panton-ExtraLight.eot?uwodiy#iefix') format('embedded-opentype'),
    url('./../fonts/Panton-ExtraLight.ttf?uwodiy') format('truetype'),
    url('./../fonts/Panton-ExtraLight.woff?uwodiy') format('woff'),
    url("./../fonts/Panton-ExtraLight.woff2") format("woff2"),
    url('./../fonts/Panton-ExtraLight.svg?uwodiy#Panton-ExtraLight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('./../fonts/icomoon.eot?65vocx');
  src:  url('./../fonts/icomoon.eot?65vocx#iefix') format('embedded-opentype'),
    url('./../fonts/icomoon.ttf?65vocx') format('truetype'),
    url('./../fonts/icomoon.woff?65vocx') format('woff'),
    url('./../fonts/icomoon.svg?65vocx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-keyboard_arrow_up:before {
  content: "\e904";
}
.icon-keyboard_arrow_right:before {
  content: "\e905";
}
.icon-keyboard_arrow_left:before {
  content: "\e906";
}
.icon-keyboard_arrow_down:before {
  content: "\e907";
}
.icon-arrow_upward:before {
  content: "\e908";
}
.icon-arrow_forward:before {
  content: "\e909";
}
.icon-arrow_drop_up:before {
  content: "\e90a";
}
.icon-arrow_drop_down:before {
  content: "\e90b";
}
.icon-arrow_downward:before {
  content: "\e90c";
}
.icon-arrow_back:before {
  content: "\e90d";
}
.icon-spinner:before {
  content: "\e90e";
}
.icon-user:before {
  content: "\e900";
}
.icon-alarm:before {
  content: "\e901";
}
.icon-sitemap:before {
  content: "\e903";
}
.icon-folder-open-o:before {
  content: "\e902";
}
