.Header {
  border-top: 8px solid $thirdColor;
  padding: 2rem 0;
  position: fixed;
  top: 0;
  transition: background-color .2s ease, padding .3s ease-out;
  width: 100%;
  z-index: 9;
  &--scroll {
    background-color: white;
    padding: 1rem 0;
  }
}
.Header__logo {
  margin-bottom: 0;
}
.Header__nav {
  display: flex;
}
.Header__mainMenu {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 0;
  padding-left: 0;
  width: 100%;
  li {
    font-size: .875rem;
    list-style: none;
    padding: 0 1.5rem;
    text-transform: uppercase;
    &.active {
      a {
        &::after {
          background-color: $firstColor;
        }
      }
    }
    a {
      color: $headingColor;
      &:focus, &:hover, &.active {
        &::after {
          background-color: $firstColor;
        }
      }
      &::after {
        background-color: transparent;
        content: "";
        display: block;
        height: 3px;
        transition: background-color .3s ease-out;
        width: 30px;
      }
    }
  }
}
