// Colors:
$firstColor: #66b9ab;  // verde claro
$firstColorAlt: #3b897c; // verde oscuro
$secondColor: #fd4c59; // rojo
$secondColorAlt: #03a9f4;
$thirdColor: #69cebd; // verde
$thirdColorAlt: #447d81; // verde oscuro
$fourthColor: #5afa5e;
$grayColor: #f5f5f5;
$accentColor: #3edac0; //
$accentColorAlt: #32a491; //
$darkColor: #2d2d2d; // Negro
$darkColorAlt: #1c1c1c; // Negro Oscuro
$borderColor: #c3c3c3; // gris claro
$borderColorAlt: #e0e0e0;
$textColor: #5f5f5f; //
$headingColor: #303030; //
$bodyColor: #ffffff;

// Fonts:
$pantonRegular: 'Panton-Regular', sans-serif;
$pantonBold: 'Panton-Bold', sans-serif;
$pantonExtraLight: 'Panton-ExtraLight', sans-serif;
